.logo {
  img {
    width: 200px;
    height: 100px;

    @include media-breakpoint-down(sm) {
      width: 130px;
      height: 70px;
    }
  }
}

.navbar-nav {
  .nav-item {
    .nav-link {
      font-size: 18px;
      text-transform: uppercase;
      &:hover {
        color: $dark;
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: $primary;
  font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{

    padding-bottom: 10px;
    border-bottom-color: $primary;
    text-decoration-color: $primary;
    color: $primary;
    padding-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 3px;
    background: transparent;
}